In [78]:
import pandas as pd
column_names = ['Patient ID', 'Activity Code', 'Time', 'X', 'Y', 'Z']
read_file = pd.read_csv (r'../Accelerometer-Action-Dectection/wisdm-dataset/raw/phone/accel/data_1600_accel_phone.txt'
                        , names=column_names)
#read_file.to_csv (r'C:\Users\Ron\Desktop\Test\New_Products.csv', index=None)
read_file

,Patient ID,Activity Code,Time,X,Y,Z
0,1600,A,252207666810782,-0.364761,8.793503,1.0550842;
1,1600,A,252207717164786,-0.879730,9.768784,1.0169983;
2,1600,A,252207767518790,2.001495,11.109070,2.619156;
3,1600,A,252207817872794,0.450623,12.651642,0.18455505;
4,1600,A,252207868226798,-2.164352,13.928436,-4.4224854;
...,...,...,...,...,...,...
64306,1600,S,244505660942200,-2.372223,9.242722,-1.5882874;
64307,1600,S,244505711296204,-2.046921,10.032288,-1.2299347;
64308,1600,S,244505761650208,-1.393539,9.883896,-0.47924805;
64309,1600,S,244505812004212,-1.230454,9.315079,-0.15570068;
64310,1600,S,244505862358216,-2.154221,9.777359,-0.62454224;

In [93]:
column_names = ['Patient ID', 'Activity Code', 'Time', 'X', 'Y', 'Z']
read_file = pd.read_csv (r'../Accelerometer-Action-Dectection/wisdm-dataset/raw/phone/accel/data_1610_accel_phone.txt'
                        , names=column_names)
#read_file.to_csv (r'C:\Users\Ron\Desktop\Test\New_Products.csv', index=None)
read_file

,Patient ID,Activity Code,Time,X,Y,Z
0,1610,A,18687441561967,1.174957,13.347473,-4.0346375;
1,1610,A,18687491915971,1.408188,7.091858,-3.8957214;
2,1610,A,18687542269974,4.932510,6.306808,-2.3390045;
3,1610,A,18687592623978,0.154648,6.123505,-1.8314667;
4,1610,A,18687642977982,-2.826035,4.180542,-3.2118988;
...,...,...,...,...,...,...
80865,1610,S,17989031516129,5.946732,7.583008,-1.0972595;
80866,1610,S,17989081870133,5.818741,7.804871,-1.6237335;
80867,1610,S,17989132224137,5.530823,7.636093,-1.6626434;
80868,1610,S,17989182578141,5.802170,7.645752,-1.000412;
80869,1610,S,17989232932145,6.026535,7.688583,-1.0237274;

In [112]:
read_file['Activity Code'].where(read_file['Activity Code'] == 'nan')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
80865    NaN
80866    NaN
80867    NaN
80868    NaN
80869    NaN
Name: Activity Code, Length: 80870, dtype: object

In [125]:
read_file['Activity Code'].where(read_file['Activity Code'] == '')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
80865    NaN
80866    NaN
80867    NaN
80868    NaN
80869    NaN
Name: Activity Code, Length: 80870, dtype: object

In [122]:
read_file['Activity Code'][80869]

'S'

In [111]:
read_file['Activity Code'].isnull().values.any()

False

In [106]:
read_file['Activity Code'].unique()

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'O', 'P', 'Q', 'R', 'S'], dtype=object)

In [79]:
read_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64311 entries, 0 to 64310
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Patient ID     64311 non-null  int64
 1   Activity Code  64311 non-null  object
 2   Time           64311 non-null  int64
 3   X              64311 non-null  float64
 4   Y              64311 non-null  float64
 5   Z              64311 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 2.9+ MB

In [80]:
import string

In [81]:
def strip_semicolon(text):
    for asd in string.punctuation:
        text = text.replace(';', '')
    return text

In [82]:
read_file['Z'] = read_file['Z'].apply(strip_semicolon)
read_file['Z'] = read_file['Z'].astype(float)

In [83]:
read_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64311 entries, 0 to 64310
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Patient ID     64311 non-null  int64
 1   Activity Code  64311 non-null  object
 2   Time           64311 non-null  int64
 3   X              64311 non-null  float64
 4   Y              64311 non-null  float64
 5   Z              64311 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.9+ MB